<!DOCTYPE html>
<html>
<head>
  <title>Sunny & Carter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container header">

</div>

<div class="nav">
  <div class="container">
    <ul>
      <li>
        <a href="/welcome/">Index</a>
      </li>
      <li>
        <a href="/video">Video</a>
      </li>
    </ul>
  </div>

</div>

<%= yield %>
<footer>
  2013-2015 Guangzhou
</footer>
</body>
</html>
